<div class="jumbotron2 jumbotron-fluid text-center" style="background-color:rgb(196, 83, 200);border-radius:0%">
  <div class="container" style="background-color:rgb(196, 83, 200);">
    <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif;background-color:rgb(196, 83, 200)">Dashboard</h2>
  </div>
</div>

<div class="text-center mt-5 mb-5">
    <a href="/dashboard/newpost"><button style="margin:10px;">Create New Fight Post</button></a>
</div>


<div class="text-center" style="border-top: 1px solid #ccc;">
  <h2 class="p-4 mt-4"style="font-family:fantasy" >Your Posts</h2>
  <ol>
    {{#each dashboard as |post|}}
      {{> post-info post}}
      <div class="mr-5 mt-4 mb-4">
        <a href="/dashboard/editpost/{{id}}" class="edit-link"><button>Edit post</button></a>
      </div>
    {{/each}}
  </ol>
</div>
