<div class="jumbotron2 jumbotron-fluid text-center" style="background-color:rgb(196, 83, 200);border-radius:20%">
  <div class="container" style="background-color:rgb(196, 83, 200);">
    <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif;background-color:rgb(196, 83, 200)">Justice League Vs Marvels</h2>
  </div>
</div>



<ol class="post-list text-center">
  {{#each posts as |post|}}
  
    {{> post-info post }}
  
  {{/each}}
</ol>